body{
	padding: 10px;
	margin-top: 10px;
	box-sizing: border-box;
	line-height: 1.5;
    background-color: darkslategray;
}

h1 {
    font-family: 'Spectral SC', serif;
    font-size: 50px;
    text-align: center;
    color: aliceblue;
}

ul{
	list-style: none;
}

li{
	float:left;
	margin-top: 5%;
    width: 90%;

}

img{
	max-width: 90%;
    transition: transform 0.7s ease-in-out;
    border: 3px solid;
}

img:hover {
    transform: scale(1.25);
    z-index: 20;
}

@media screen and (min-width: 600px){
	/* two columns */
	li{
		width: 50%; 
	}
}

@media screen and (min-width: 1200px){
	/* four columns */
	li{
		width: 25%; 
	}
}

